[Desktop Entry]
Type=Application
Version=1.1
Name=Taisei (replay viewer)
GenericName=Bullet hell shoot ’em up game
Icon=org.taisei_project.Taisei
Terminal=false
NoDisplay=true
TryExec=taisei
Exec=taisei --replay %f
Categories=Game;ArcadeGame;
Comment=An open-source Tōhō fangame.
MimeType=application/x-taisei-replay;
