[Desktop Entry]
Type=Application
Version=1.1
Name=Taisei
GenericName=Bullet hell shoot ’em up game
Icon=org.taisei_project.Taisei
Terminal=false
Exec=taisei
Categories=Game;ArcadeGame;
Comment=An open-source Tōhō fangame.
