[submodule "gamecontrollerdb"]
	path = external/gamecontrollerdb
	url = https://github.com/taisei-project/SDL_GameControllerDB.git
	branch = master
[submodule "external/koishi"]
	path = external/koishi
	url = https://github.com/taisei-project/koishi.git
[submodule "external/basis_universal"]
	path = external/basis_universal
	url = https://github.com/taisei-project/basis_universal.git
	branch = taisei
[submodule "external/python-zipfile-zstd"]
	path = external/python-zipfile-zstd
	url = https://github.com/taisei-project/python-zipfile-zstd
