[submodule "cglm"]
	path = external/cglm
	url = https://github.com/taisei-project/cglm.git
	branch = taisei
[submodule "gamecontrollerdb"]
	path = external/gamecontrollerdb
	url = https://github.com/taisei-project/SDL_GameControllerDB.git
	branch = master
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/taisei-project/lua.git
	branch = taisei
