# -- Taisei example config
# move to ~/.taisei/config

# setting default values.
# this config would be useless, as there is a built-in default settings fallback

key_up = up
key_down = down
key_left = left
key_right = right

key_focus = shift
key_shot = z
# key_shot = y # if you are qwertz-fag
key_bomb = x

# if your favourite keysym isn't supported, look it up in SDL/SDL_keysym.h
# key_bomb = K42 # Syntax: K${value} where value is the value defined in the header.